<h3>Statistics</h3>

<table class="center bordered responsive mb-30">
    <thead>
        <tr class="bg-purple white">
            <th>Total records</th>
            <th>Early sleep</th>
            <th>No bad habits</th>
            <th>Sport</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{%total%}</td>
            <td>{%habit_1%} / {%total%}</td>
            <td>{%habit_2%} / {%total%}</td>
            <td>{%habit_3%} / {%total%}</td>
        </tr>

        <tr>
            <td>Rate of success:</td>
            <td>{%rate_habit_1%}%</td>
            <td>{%rate_habit_2%}%</td>
            <td>{%rate_habit_3%}%</td>
        </tr>
    </tbody>
</table>